@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand-primary: #2f1425;
  --color-brand-secondary: #068D9D;
  --color-brand-accent: #068D9D;
  --color-brand-bg: #fbf7f1;
  --color-brand-text: #4D243D;
}
