@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2 {
    font-family: 'Major Mono Display', monospace;
  }

  body {
    @apply bg-black;
  }
}

:root {
  --color-brand-primary: #2f1425;
  --color-brand-secondary: #068D9D;
  --color-brand-accent: #068D9D;
  --color-brand-cream: #fbf7f1;
  --color-brand-text: #4D243D;

  --color-accent: #2EB8A6;
  --color-ink: #100007;
  --color-foreground: #dae6ff;
  --color-surface: #004346;
}
